@use "./base.scss";

// put your custom CSS here!

h2 {
  // 들여쓰기 대상: h1 바로 아래에 오는 p 요소 등
  ~ p {
    margin-left: 1.0rem;
  }
}

h3 {
  ~ p {
    margin-left: 1.5rem;
  }
}

h4 {
  ~ p {
    margin-left: 2.0rem;
  }
}