@use "./base.scss";

// put your custom CSS here!

h2 {
  // 들여쓰기 대상: h1 바로 아래에 오는 p 요소 등
  + * {
    margin-left: 1.0rem;
  }
}

h3 {
  font-size: 1.4rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;

  + * {
    margin-left: 1.5rem;
  }
}